/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e9f3fe;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #004c8c;
}

h2 {
    font-size: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

.github-button, .download-buttons button, .nav-buttons button {
    background-color: #009cde;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.github-button:hover, .download-buttons button:hover, .nav-buttons button:hover {
    background-color: #007bbd;
}

/* Section Styles */
.header-section {
    background-color: #004c8c;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

/* Floating Effects */
.floating {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

footer {
    background-color: #004c8c;
    color: white;
    text-align: center;
    padding: 20px;
}
